@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important
  }
}

@layer components {
  /* CONTAINERS */
  .formContainer {
    @apply flex flex-col gap-8 items-start w-full p-8 bg-bgform bg-opacity-10  text-black
  }
  .modalContainer {
    @apply fixed top-[50%] left-[50%] flex flex-col justify-center items-center z-[9999] overflow-hidden
  }
  .confirmModalContent {
    @apply py-5 px-8 w-full text-black dark:text-white 
  }
  .confirmModalContentContainer {
    @apply fixed flex flex-col justify-center items-center w-[80%] lg:w-[33%] min-h-[30%] bg-white dark:bg-gray-800  rounded-md z-[1000] 
  }
  .createUpdateModalContentContainer {
    @apply fixed flex flex-col justify-center items-center w-[80%] xl:w-[33%] md:w-[66%] min-h-[50%] bg-white dark:bg-gray-800 dark:text-white rounded-md z-[1000]
  }
  .backdropContainer { 
    @apply fixed top-0 left-0 bottom-0 right-0 bg-black bg-opacity-70 z-[1000]
  }
  .formInput {
    @apply p-2 rounded-md bg-white dark:bg-gray-200 outline-none
  }
  .formInputLabel {
    @apply text-[#767676] dark:text-gray-200 font-bold
  }
  .confirmButton {
    @apply bg-[#5858FA] py-3 w-2/3 rounded-md text-xl border-[1px] border-[#5858FA] hover:border-[#3636a3] hover:bg-[#3636a3] transition-all text-white
  }
  .cancelButton {
    @apply py-3 w-1/3 rounded-md text-xl border-[1px] border-[#808080] dark:border-white hover:bg-black hover:text-white transition-all
  }
  .formInput2{
    @apply p-3 text-[#737373] dark:text-white rounded-md outline-none mt-1 bg-transparent border-[1px] border-[#808080]
  }
  .tableInput {
    @apply  text-[#737373] dark:text-white rounded-md outline-none mt-1 bg-transparent border-[1px] border-[#808080] text-center text-xs
  }
  .primaryButton {
    @apply bg-buttonHover text-black rounded-md p-2 font-bold border-buttonHover border-[2px] transition-all hover:bg-transparent hover:text-buttonHover hover:scale-110
  }
  .createButton {
    @apply w-[150px] m-4 p-1 rounded-md from-rose-400 via-fuchsia-500 to-indigo-500 bg-gradient-to-r
  }
  .createButton-text {
    @apply block text-black px-4 py-2 font-semibold rounded-md bg-white hover:bg-transparent hover:text-white transition
  }
  .deleteConfirmButton {
    @apply bg-[#faa75c] py-3 w-2/3 rounded-md text-xl border-[1px] border-[#faa75c] hover:border-[#FFFFFF] hover:bg-[#FFFFFF] transition-all text-black 
  }
  .formChooseButton{
    @apply bg-secondary rounded-md py-2 hover:scale-110 text-black transition-all
  }
  .tableHeading {
    @apply font-bold py-2 text-gray-700 dark:text-gray-500 border-y-2 border-y-[#FA9E93]
  }
  .errorContainer {
    @apply bg-pink-200 font-bold text-fuchsia-600 p-1 rounded-md transform -translate-x-1/2 md:w-[40%] w-full  animate-fade-in-down
  }
  .errorPageForms {
    @apply text-xs text-rose-600
  }
  .accountContainer {
    @apply relative bg-black dark:bg-white p-3 rounded-md flex justify-center items-center gap-3 text-white dark:text-black
  }
  .accountMenuContainer {
    @apply absolute bg-gray-700 dark:bg-gray-200 top-14 right-2  w-32 px-5 py-3 rounded-md
  }
  .accountMenuItem {
    @apply flex items-center gap-3 justify-start transform transition-colors duration-200 border-r-4 border-transparent hover:border-indigo-700 cursor-pointer
  }
  .accountMenuLogoutItem {
    @apply font-medium flex items-center gap-3 justify-start transform transition-colors duration-200 border-r-4 cursor-pointer
  }
  .badge {
    @apply absolute inline-flex items-center justify-center w-8 h-8 text-lg font-bold text-white bg-red-500 border-2 border-white rounded-md -top-2 -right-2 dark:border-gray-900
  }
}

html, body, div, section {
  scroll-behavior: smooth!important;
}

:root {
  --foreground-rgb: 0, 0, 0
  --background-start-rgb: 214, 219, 220
  --background-end-rgb: 255, 255, 255
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255
    --background-start-rgb: 0, 0, 0
    --background-end-rgb: 0, 0, 0
  }
}


* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 14px;
}

table,
.divTable {
  border: 1px solid darkgray;
  width: fit-content;
}

.tr {
  display: flex;
}

tr,
.tr {
  width: fit-content;
  height: 30px;
}

th,
.th,
td,
.td {
  box-shadow: inset 0 0 0 1px gray;
  padding: 0.05rem;
}

th,
.th {
  padding: 2px 4px;
  position: relative;
  font-weight: bold;
  text-align: center;
  height: 30px;
}

td,
.td {
  height: 30px;
}

.resizer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: rgba(0, 0, 0, 0.5);
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}

.resizer.isResizing {
  background: yellow;
  opacity: 1;
}

@media (hover: hover) {
  .resizer {
    opacity: 0;
  }

  *:hover > .resizer {
    opacity: 1;
  }
}
