@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-primary {
    @apply bg-[#E6E6E6] outline-none p-5 rounded-2xl md:w-[70%] w-full text-[#737373]
  }
  .btn-primary {
    @apply mt-12 w-[30%] h-16 mx-auto bg-[#EC6453] rounded-xl text-white md:text-2xl text-lg font-bold hover:bg-[#741f12] transition-all
  }
  .error-container {
    @apply bg-pink-200 font-bold text-fuchsia-600 p-1 rounded-xl transform -translate-x-1/2 md:w-[40%] w-full  animate-fade-in-down
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
